:root {
    --padding-kalk: 3%;
}

section {
    display: flex;
    justify-content: center;
}
#kalkulacka{
    box-sizing: border-box;
    border: 5px solid black;
    width: 40%;
    height: 40%;
    background: #376CC8;
}

/*Hlavicka kalkulačky*/
#kal-output{
    height: 60px;
    padding: var(--padding-kalk);
}
#output {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 150%;
    text-align: center;
    background: white;
}

/*Tělo hlavičky*/
#con-tlacitka {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-kalk);
}
.radek {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}
.tlacitka {
    width: 100%;
    height: 70px;
    font-size: 170%;
    background: white;
    border-radius: 10px;
    background: #C89337;
}
#rovna {
    width: 100%;
}
.tlacitka:hover {
    box-shadow: 0 0 2px 2px #210303;
    filter: brightness(75%);
}
.tlacitka:active {
    transition: .05s;
    background: black;
    color: white
}